.about{
    text-align: center;
}

.about h1{
    font-size: 3rem;
}

.about img{
    width: 300px;
}
.about p{
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    line-height: 1.5rem;
}